.video-page-wrapper {
    margin-top: 1em;

    @media only screen and (max-width: $ipad-width){
        margin-top: 4em;
    }
    
    .video-panel {
        display: flex;
        width: 90vw;

        @media only screen and (max-width: $ipad-width){
            flex-direction: column;
        }

        .video-player-wrapper {

        }

        .info-panel {

            @media only screen and (max-width: $ipad-width){
                margin-top: 4em;
                height: 12em;
            }

            @media only screen and (max-width: 770px){
                margin-top: 3em;
            }

            .card {
                display: grid;
                height: 100%;
                align-content: space-between;
                padding: 0 .5em;

                .card-body {
                    margin-top: 1em;

                    .card-title {
                        font-size: .8em;

                        @media only screen and (max-width: $ipad-width){
                            font-size: 1.2em;
                        }

                        @media only screen and (max-width: $ipad-width){
                            margin-top: -1em;
                        }

                    }

                    .card-text {
                        font-size: .5em;

                    }
                }

                .list-group-item {

                    @media only screen and (max-width: $ipad-width){
                        display: none;
                    }
                }

                .card-img-wrapper {
                    margin-bottom: .5em;

                    @media only screen and (max-width: $ipad-width){
                        display: none;
                    }
                }
            }   
        }
    }
}

        .video-player-wrapper {
            
            @media only screen and (max-width: $ipad-width){
            
            }

            iframe {
                width: 41em;

                @media only screen and (max-width: $ipad-width){
                    width: 89.7vw;
                    height: 16em;
                }

                @media only screen and (max-width: 770px){
                    height: 14.5em;
                }

                @media only screen and (max-width: $phone-width){
                    height: 10.65em;
                }
            }
        }