.card-img-wrapper {
    display:flex;
    justify-content: center;

    .card {
        width: 16em;
        height: 16.1em;


        @media only screen and (max-width: $ipad-width) {
            width: 70vw;
            height: 12em;
        }

        @media only screen and (max-width: $phone-width) {
            width: 80vw;
           height: 16em;

        }
        .card-header {
            font-size: .7em;

            @media only screen and (max-width: $ipad-width){
                
            }
            
        }

        .card-body {

            .card-title {
                font-size: .6em;

                @media only screen and (max-width: $phone-width){
                    display: none;
                }

            }

            .card-text {
               font-size: .6em;

                @media only screen and (max-width: $phone-width){
                    font-size: .6em;
                }
            }
        }
    }
}