.card-img-wrapper {
    .card {
        width: 28rem;
        height: 26.5rem;

        @media only screen and (max-width: $ipad-height) {
            width: 90vw;
            height: 18rem;
        }

        @media only screen and (max-width: $phone-height) {
            width: 92vw;

            .card-footer {
                display: none;
            }
        }
        .card-header {

            @media only screen and (max-width: $ipad-height){
                font-size: 0.8rem;
            }
            
        }

        .card-body {

            .card-title {

                @media only screen and (max-width: $ipad-height){
                    display: none;
                }

            }

            .card-text {
                font-size: 0.8rem;

                @media only screen and (max-width: $ipad-height){
                    margin-top: -.7rem;
                    font-size: 0.8rem;
                }
            }
        }
    }
}