

.carousel-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    .carousel, .slide {
        width: 57em;
        max-width: 90vw;

        @media only screen and (max-width: $ipad-width) {
            width: 29.5em;
        }
        
        @media only screen and (max-width: $phone-width){
            width: 20em;
        }

        .carousel-indicators {
            @media only screen and (min-width: $phone-width){
                display: none;
            }
        }

        .carousel-inner {
            

            .card-img-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

            @media only screen and (max-width: $ipad-width) {
                    flex-direction: column;
                }

                img {
                    width: 32.4em;

                    @media only screen and (max-width: $ipad-width) {
                        width: 27.1em;
                        height: 14em;
                    }

                    @media only screen and (max-width: $phone-width) {
                        width: 19em;
                        height: 47vw;
                    }
                }
            }
        }
    }

    .carousel-control-prev, .carousel-control-next {
        background-color: rgba(0,0,0,.2);
        width: 2em;
        
        @media only screen and (min-width: $ipad-width) {
            &:hover {
                background-color: $minnmax-green;
            }
        }

        @media only screen and (max-width: $ipad-width) {
            background-color: rgba(0,0,0,0);
            span {
                background-color: rgba(0,0,0,0);
                width: 2em;
                height: 4em;
            }
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: rgba(0,0,0,0);
            width: 2em;
            
            @media only screen and (min-width: $ipad-width) {
                background-color: rgba(0,0,0,0.0);
            }
    
            @media only screen and (max-width: $ipad-width) {
                background-color: rgba(0,0,0,0);
                span {
                    width: 2em;
                    height: 4em;
                }
            }
        } 

        @media only screen and (max-width: $phone-width) {
            background-color: rgba(0,0,0,0);
            span {
                background-color: black;
                width: 7em;
                height: 7em;
            }
        }
    }
}