

.carousel-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;


    .carousel, .slide {
        display: flex;
        justify-content: center;
        
        @media only screen and (min-width: $ipad-width){
            width: 45em;
         }

        @media only screen and (max-width: $ipad-width) {
        }
        
        @media only screen and (max-width: $phone-width){
           
        }

        .carousel-indicators {
            color: black;

            @media only screen and (min-width: $ipad-width){
                height: .1em;
            }

            @media only screen and (max-width: $ipad-width){
                height: .1em;
            }

        }

        button {
            background-color: $minnmax-green;
            border-color: $minnmax-green;
   
        }

        .carousel-inner {
            

            .card-img-wrapper {
               

            @media only screen and (max-width: $ipad-width) {
                  flex-direction: column;

            }
                img {
                    width: 45vw;
                    height: 100%;                    

                    @media only screen and (max-width: $ipad-width) {
                        width: 70vw;
                    }

                    @media only screen and (max-width: $phone-width) {
                        width: 80vw;
                    }
                }
            }
        }
    }

    .carousel-control-prev, .carousel-control-next {
        
        @media only screen and (min-width: $ipad-width) {
            &:hover {
               color: $minnmax-green;
            }
        }

        @media only screen and (max-width: $ipad-width) {
            height: 50%;
            span {
       
            }
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: rgba(0,0,0,.4);
            
            @media only screen and (min-width: $ipad-width) {
               
            }
    
            @media only screen and (max-width: $ipad-width) {
              
                span {
                  
                }
            }
        } 

        @media only screen and (max-width: $phone-width) {
            
            span {
             
            }
        }
    }
}