.welcome-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 87vw;
    margin: 0;
    margin-left: .4em;
    margin-top: 1em;

    
@media only screen and (max-width: $phone-width) {
        display: none;
    }
}
