.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(white,darkgrey,white, darkgrey,white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Alata', sans-serif;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "~video-react/styles/scss/video-react";
@import './styles/variables.scss';
@import './styles/main.scss';

.patreon-page-wrapper {

  .makeStyles-root-1 {
    
    @media only screen and (min-width: 1025px){
      width: 60vw;
    }
  }

  @media only screen and (max-width: 700px){
    padding-top: 3em;
  }
}

.patreon-grid {
  display: grid;
  grid-gap: 1em;

  .MuiCard-root {
    padding: .7em;
  }

  @media only screen and (min-width: 768px){
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  @media only screen and (max-width: 412px){
    grid-template-columns: 1fr;
  }
}

.schedule-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $phone-width){
    padding-top: 3em;

  }
}
